.header {
    width: 100%;
    height: 52px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.3);
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    position: relative;
}

.nav-search {
    display: flex;
    width: 40%;
    align-items: center;
    position: relative;
}

.nav-search input {
    width: 280px;
    height: 38px;
    padding-left: 35px;
    padding-top: 3px;
    border-radius: 5px;
    background-color: #eef3f8;
    border: none;
    outline: 1px solid transparent;
    font-size: 1.5rem;
    z-index: 10;
    transition: all 0.2s;
}

.nav-search input:focus {
    width: 365px;
    outline: 1px solid rgba(201, 199, 199, 0.5);
    padding-left: 50px;
    font-size: 1.7rem;
}

.icon i {
    color: #0a66c2;
    font-size: 4rem;
    margin: 0 10px;
}

.search-icon {
    position: absolute;
    z-index: 20;
    left: 65px;
    right: 0;
    font-size: 1.4rem;
    color: #666666;
}
