.nav-element {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #666666;
    font-weight: 250;
    width: 200px;
    text-align: center;
}

.label {
    font-size: 1.3rem;
}

.icons {
    color: #666666;
    font-size: 2.5rem;
}
